.st-emotion-cache-ocqkz7 {
    display: flex;
    flex-wrap: nowrap;
    -webkit-box-flex: 1;
    flex-grow: 1;
    -webkit-box-align: stretch;
    align-items: flex-end;
    gap: 1rem;
    flex-direction: row;
}